/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------grid------------ */
#grid {
    display: grid;
    grid-template-areas:
        "nav header header"
        "nav noticias comentarios"
        "nav noticias comentarios"
        "footer footer footer";

    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 20% auto 15%;
    height: 100vh;
    margin: 0;
}

.border {
    border: 1px solid orange;
}


/* encabezado---------- */
header h1 {
    grid-area: header;
    padding-top: 15px;
    text-align: center;
    font-family: 'Fascinate';
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

header {
    min-height: 150px;
    background-color: bisque;

}

/* botonera----------- */


nav {
    grid-area: nav;
    padding-top: 80px;
    padding-left: 30%;
   }




nav ul li {
    list-style: none;

}

/* a {
    text-decoration: none;
} */

aside {
    grid-area: comentarios;

}

/* seccion noticias------------ */
section#noticias {
    grid-area: noticias;
    padding-top: 200px;
    padding-bottom: 10px;
    gap: 15px;





}

article h3 {
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 18px;
    font-family: 'Fascinate';

}

.padre3 {
    text-align: center;
    color: black;
    


}

#hijo1 {
    padding-bottom: 5px;
}

#hijo2 {
    padding-bottom: 5px;
    padding-top: 5px;
}

#hijo3 {
    padding-top: 5px;
}


#contenedorDeImagenes1 {
    width: 8rem;
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;

}


/* pie de pagina--------- */

footer {
    grid-area: footer;

}

.pieDePagina {
    background-color: rgba(255, 166, 0, 0.445);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 20vh;
    padding-top: 10px;
}

#tamañoDeIconos {
    width: 100px;
    height: 50px;

    padding-left: 10px;
    padding-right: 10px;

}

#tamañoDeLogo {
    width: 150px;

}

#copyrigth {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
        'Trebuchet MS', sans-serif;
    text-align: right;
    padding-top: 100px;
}



@media (min-width:765px){
    section {
        display: flex;
        flex-direction:row ;
        align-content:space-between;
        align-self: center;
    }
    section#noticias {
        padding-top: 100px;
    }

header h1 {
    padding-top: 300px;
}
header {
    background-color: transparent;
}

nav ul  {
    display: flex;
    flex-direction:row ;
    align-content:flex-end;
    
}

}
p::first-letter {
    color: red;
    font-size: 3rem;
}